name: Fetch 45 rostos

on:
  workflow_dispatch:
  #schedule:
  #  - cron:  '0 4 1 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Convert google sheet to csv
      run: |-
        wget -O 45rostos.csv --no-check-certificate "https://docs.google.com/spreadsheets/d/e/2PACX-1vSsKEaNuZS12yC18X_4U8Kwvu6oBea_-6Ao9rU5KBBOfOw4oKHWgZ42pI7m3LvSpqfcIctWMIy5GVDz/pub?gid=0&single=true&output=csv"
    - name: Commit and push changes
      run: |-
        git diff
        git config user.name "Automated"
        git config user.email "---"
        git diff --quiet || (git add -A && git commit -m "Updated csv 45 rostos")
        git push
