name: Fetch CTAs
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 4 * * 1'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
    - name: Download Feed
      run: |-
        curl "https://www.publico.pt/api/content/white-noise" | jq -r tostring > cta-list.json
    - name: Commit and push changes
      run: |-
        git diff
        git config user.name "Automated"
        git config user.email "---"
        git pull
        git diff --quiet || (git add -A && git commit -m "Updated with ctas")
        git push
