name: INE Destaques
on:
  workflow_dispatch:
  schedule:
    - cron:  '15 9-11 * * 1-5'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: Check out repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: CURL destaques INE
      run: |-
        curl "https://www.ine.pt/ine/dst_mobile.jsp?lang=PT" | jq -c . > digest/latest--ine.json
    - name: Commit and push changes
      run: |-
        git diff
        git config user.name "Automated"
        git config user.email "---"
        git pull
        git diff --quiet || (git add -A && git commit -m "Updated INE Destaques")
        git push
